<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - resorty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/resorty.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <aside class="position-relative sidebar">
            <h2 class="brand-title text-primary">resorty</h2>
            <ul class="link-list d-flex flex-column">
                <li class="link-item">
                    <a asp-controller="Reservations" asp-action="Dashboard" class="text-secondary">
                        Dashboard
                    </a>
                </li>
                <li class="link-item">
                    <a asp-controller="Reservations" asp-action="Index" class="text-secondary">
                        Reservations
                    </a>
                </li>
                <li class="link-item">
                    <a asp-controller="Reservations" asp-action="HistoryReservations" class="text-secondary">
                        History
                    </a>
                </li>
                <li class="link-item">
                    <a asp-controller="Rooms" asp-action="Index" class="text-secondary">
                        Rooms
                    </a>
                </li>
            </ul>
            <a class="btn btn-danger text-light w-100 mt-auto" asp-controller="Auth" asp-action="Logout">Logout</a>
        </aside>
        <div class="container py-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
