@model IEnumerable<resorty.Models.Bedroom>

@{
    ViewData["Title"] = "Create Reservation";
    Layout = "_Layout";
}

<h1>Create Reservation</h1>

<div class="row mt-5">
    <div class="col-md-6">
        <form asp-action="Create" class="bg-white shadow p-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label class="control-label">Client Name</label>
                <input name="Name" type="text" class="form-control" autocomplete="off" required />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Room</label>
                <select name="Room" class="form-control" required>
                    <option disabled selected>Pilih Kamar...</option>
                    @foreach (var item in Model)
                    {
                        <option value=@item.Name>@Html.DisplayFor(modelItem => item.Name) - Rp. @Html.DisplayFor(modelItem => item.Price)</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label  class="control-label">Check In</label>
                <input name="StartDate" type="date" class="form-control" required />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Check Out</label>
                <input name="EndDate" type="date" class="form-control" required/>
            </div>
            <div class="form-group mt-5 d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-primary bg-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-5">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
